SECRET_KEY=""                 # Enter a random secret key

GMAIL_ADDRESS=              # Enter the Gmail address used to send OTP emails
GMAIL_APP_PASSWORD=""         # Enter the Gmail App Password (not your regular Gmail password)

DATABASE_URL=mysql+pymysql://root@localhost:3306/deepsight_db

# true = use TEST_OTP without sending an email
# false = send a real OTP to the doctor's email
TEST_MODE=false             
TEST_OTP=654321             # Used only when TEST_MODE=true

FLASK_DEBUG=false
SESSION_TYPE=filesystem
RATELIMIT_STORAGE_URL=memory://